body{
    height:100%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.background-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #000428, #004e92);
}

.background-right {

}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}

